html {
	box-sizing: border-box;
}

body {
	background: #3F403F;
}

#header-nav {
	border: 0;
	border-radius: 0;
	background: rgb(71, 88, 65);
}

#brand {
	color: #ced0ce;
}

#link1 a, #link2 a, #link3 a {
	color: #ced0ce;
}

h1 {
	color: #ced0ce;
	margin-top: 30px;
	margin-bottom: 30px;
}

p span {
	font-weight: bold;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.3em;
}

#chicken, #beef, #sushi {
	text-decoration: none;
	color: #ced0ce;
}

p {
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	text-align: justify;
	background: rgba(71, 88, 65, 0.8);
	color: #ced0ce;
}